#contents h1{
	background: url("../images/lou.gif") no-repeat left;
	text-indent: -999px;
	margin-left: 20px;
	margin-top: 20px;
}
#contents dl{
	background:#fff;
	width: 250px;
	float: left;
	padding-top: 10px;
	padding-left:15px;
}
#contents dd{
	
}
#contents dt{
	background: #eee;
	height: 30px;
	line-height: 30px;
	width: 230px;
	text-align: center;
	margin:0 auto;
	border-bottom: 1px solid orange;
}
#contents p{
	clear: both;
	text-align: center;
	font-size: 12px;
	display: block;
	height: 60px;
	line-height: 60px;

}
