#sidebar{
	width: 267px;
	height: 800px;
	float: left;
	background: #fff url("../images/weline.gif") repeat-y right;
}
#sidebar embed{
	width: 220px;
	height: 220px;
	position: relative;
	top:5px;
	left: 20px;
}

#contents{
	width: 600px;
	height: 800px;
	float: right;
	background: #fff;
}